{% extends "traits_web_prototype/base_prototype.html" %}
{% load bootstrap %}

{% block content %}
<div class="container-fluid">
        <h1 class="page-header">Paternity test</h1>

            <form action="{% url 'traits_web_prototype:paternity' %}" method="post">{% csrf_token %}

            <div class="row-fluid">
                <div class="col-lg-4">
                    <h2>Father</h2>
                    {{ parent_form1 | bootstrap }}
                </div>
                <div class="col-lg-4">
                    <h2>Mother</h2>
                    {{ parent_form2 | bootstrap }}
                </div>
                <div class="col-lg-4">
                    <h2>Child</h2>
                    {{ child_form | bootstrap}}
                </div>
            </div>

            <div class="row-fluid">
                <div class="col-lg-8">
                    <button type="submit" class="btn btn-primary btn-lg" >Calculate</button>
                </div>
            </div>

            </form>

            <div class="row-fluid">
                <div class="col-lg-8">
                    <h2>Result</h2>
                    {% if is_father %}
                        <b>Unknown</b>
                    {% else %}
                        <b>Probably, not father</b>
                    {% endif %}
                    <br>
                    {% if possible %}
                        <p>Possible traits</p>
                         <table id="formset" class="table">
                        {% for trait, trait_dict in possible.items %}
                          <tr>
                          <td>
                              {{ trait }}
                          </td>
                          <td>
                              {{ trait_dict }}
                          </td>
                          </tr>
                        {% endfor %}
                        </table>

                    {% endif %}
            <br>
                    {% if no_proof %}
                        <p>Not matching traits</p>
                         <table id="formset" class="table">
                        {% for trait, trait_dict in no_proof.items %}
                          <tr>
                          <td>
                              {{ trait }}
                          </td>
                          <td>
                              {{ trait_dict }}
                          </td>
                          </tr>
                        {% endfor %}
                        </table>
                    {% endif %}
                </div>
            </div>
</div>

{% endblock %}
